
<launch>
    <node 
    pkg="turtlesim" 
    type="turtlesim_node" 
    name="turtlesim"
    respawn="false"
    />    

    <!-- <remap from="turle1/pose" to="/rosout"/> -->
    
    

    <node pkg="turtlesim" 
    type="turtle_teleop_key" 
    name="teleop_key"
    required="true"
    
    />
   

</launch>